<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>URL SHORTENER</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Advent+Pro:400,200' rel='stylesheet' type='text/css'>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <h1 id="title" class="navbar-text navbar-left"><a href = "index.html">URL SHORTENER</a></h1>
            <p class="navbar-text navbar-right navbar-leftblock" id = "logintab" data-toggle="modal" data-target="#login-modal"><a href=#>LOG IN</a>
            </p>
            <p class="navbar-text navbar-right navbar-leftblock" id = "signuptab" data-toggle="modal" data-target="#login-modal"><a href=#>SIGN UP</a>
            </p>
        </div>
    </nav>

    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-container loginmodal-container">
                <h3 style = "font-weight:300">Login to Your Account</h3>
                <br>
                <form>
                    <input type="text" name="user" placeholder="Email">
                    <input type="password" name="pass" placeholder="Password">
                    <input type="submit" name="login" class="login loginmodal-submit" value="Login">
                </form>
                <div class="login-help" id = "register_tab">
                    <a href="#">Register</a>
                </div>
            </div>
                    <div class= "modal-container signupmodal-container" style = "display:none">
                <h3 style = "font-weight:300">Create a New Account</h3>
                <br>
                <form>
                    <input type="text" name="user" placeholder="Email">
                    <input type="password" name="pass" placeholder="Password">
                    <input type="submit" name="login" class="login loginmodal-submit" value="Register">
                </form>
                <div class="login-help" id = "login_subtab">
                    <a href="#">Log in</a>
                </div>
            </div>
        </div>
    </div>

    <div id="inputbox">
        <form class="form-wrapper" id = "longUrlForm">
            <input type="text" id="search" placeholder="Type your url here..." required>
            <input type="submit" value="GENERATE" id="submit">
        </form>
    </div>
    
       <div id="customized_inputbox" style = "display:none">
        <form class="form-wrapper" id = "customizeUrlForm">
            <p>urlhk.herokuapp.com/</p>
             <input type="text" id="customize" placeholder="Type short key here..." required>
            <input type="text" id="searchCustomize" placeholder="Type your long url here..." required>
            <input type="submit" value="CUSTOMIZE" id="submit" >
        </form>
    </div>

    <!-- Modal -->
      <div class="modal fade" id="popupInfowindow" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Error</h4>
            </div>
            <div class="modal-body">
              <p id="result"></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    <div id = "customize_div">
    <a href = "#" id = "customize_button">customize</a>
    <a href = "#" id = "back_button" style = "display:none">back</a>    
    </div>
    
    <br> <br> 
    <footer id = "footer_div">
        <p>Yang Shang. All Rights Reserved</p>
    </footer>

    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>
</body>

</html>